/*#table-wrap {
display: inline-block;
*display: inline;
zoom: 1;
}

table {
	border-spacing:0;
	border-collapse:collapse;
}

.tt-header {
background: blue;
}

.tt-header-text {
float: left;
}

td {
border-color: #cccccc;
border-width: 1px;
border-style: solid;
border: 1px solid grey;

}

.tt-cell-text {
float: left;
margin: 0;
}*/