

/* Header */

.div-table .tt-header .tt-header-text { margin: 0px 10px; }
.div-table .tt-header .tt-header-text {
    color: white;
    font-weight: bold;
   
}

.div-table {
border: 1px #ccc solid;
min-width: 100%;
float: left;
}

.table-wrap {
display: inline-block;
*display: inline;
zoom: 1;
*overflow:auto;
}


.tt-body { width: 100%;}
/*.tt-row { clear: left;}*/
.tt-col-0 { width: 185px; } /* Rowname length */
/*.tt-row .tt-cell { float: left;  }*/
.tt-row .tt-cell .tt-cell-text {
    font-size: 12px;
    float: left;
}

#timetable-content {
position: relative;
display: inline-block;
display: inline;
zoom: 1;
}


.tt-hint { 
    font-size: xx-small; 
    margin: 0px 0px;
}
.tt-cell-hint { 
    font-size:  x-small; 
    font-weight: bold;
}

.tt-pm-time { font-weight: bold; }
.tt-red-time { color: red; }
.tt-blue-time { color: #00B0F0; }
.tt-green-time { color: #00B050; }
#bus-routes .tt-cell-text { font-weight: bold; }
#bus-routes .tt-col-0 .tt-cell-text {  }

/* 
Table specific rules from here forward
   --- primarily dealing with color and special case styles
*/

/* ROUTES-1-Willits-Local-and-20 */


#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-9,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-10,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-11,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-12,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-13,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-14,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-15,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-col-16 {
font-weight: bold;
}


#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-9,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-10,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-11,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-12,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-13,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-14,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-15,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-16 ,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-col-17 {
font-weight: bold;
}

#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-8x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-9x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-11x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-12x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-13x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-14x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-15x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-16x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-17x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-18x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-19x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-20x8,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound #tt-cell-21x8 {
font-weight: bold;
}


#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-10,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-11,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-12,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-13,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-14,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-15,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-16,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-17,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-18,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-19,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-20,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-21,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-22,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-23,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-24,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-25,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-26,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-col-27,

#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-13,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-14,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-15,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-16,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-17,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-18,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-19,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-20,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-21,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-22,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-23,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-24,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-25,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-26,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-col-27,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday #tt-cell-15x9,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday #tt-cell-10x12,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday #tt-cell-11x12,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday #tt-cell-12x12,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday #tt-cell-13x12,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday #tt-cell-14x12,
#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday #tt-cell-15x12{
font-weight: bold;
}

#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday #tt-cell-1x10,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday #tt-cell-2x10,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday #tt-cell-3x10,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday #tt-cell-4x10{
font-weight: normal;
}


#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-col-7,
#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-col-8,
#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-col-9,
#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-col-10,
#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-col-11,
#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-col-12,
#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday #tt-cell-10x6,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-6,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-7,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-8,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-9,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-10,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-11,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-col-12,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday #tt-cell-11x5{
font-weight: bold;
}


#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-5,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-6,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-7,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-8,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-9,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-10,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-11,
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-col-12 {
font-weight: bold;
}


#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-col-7,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-col-8,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-col-9,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-col-10,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-col-11,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-col-12,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-10x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-11x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-12x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-13x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-14x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-15x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-16x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-17x6,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- #tt-cell-18x6 {
font-weight: bold;
}


/*#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound {
width: 1000px;
}*/

#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-header,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-header {
    background-color: #ad1585;
}

#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound hr,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound hr {
    background-color: #ad1585;
    color: #ad1585;
    height: 1px;
}

#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound .tt-even,
#tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound .tt-even {
    background-color: #f1d6eb;
}


/*  ROUTE-9-Ukiah-Local Weekday *******/

#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-header,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-header {
    background-color: #00457e;
}

#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday hr,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday hr {
    background-color: #00457e;
    color: #c01c23;
    height: 1px;
}

#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday .tt-even,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday .tt-even {
    background-color: #C9E7FF;
}


/*.timetable .tt-row .tt-cell,
.timetable .tt-row .tt-cell {

}

.timetable .tt-row .tt-cell .tt-cell-text,
.timetable .tt-row .tt-cell .tt-cell-text  {
margin-top: 10px;
}
*/

.timetable .tt-row .tt-col-0.tt-cell,
.timetable .tt-row .tt-col-0.tt-cell {
width: 150px;
font-weight: bold;
}


/*.timetable .tt-row .tt-col-0.tt-cell .tt-cell-text ,
.timetable .tt-row .tt-col-0.tt-cell .tt-cell-text {
margin-left: 10px;
}*/

#tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday,
#tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday {
width: 1450px;
position: relative;
}

/*  
BEGIN TABLES
ROUTE-9-Ukiah-Local Saturday
*/

#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday ,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday {
width: 750px;
}

#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-header,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-header {
    background-color: #00457e;
}

#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday hr,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday hr {
    background-color: #00457e;
    color: #f06b56;
    height: 1px;
}

#tt-ROUTE-9-Ukiah-Local-Northbound-Saturday .tt-even,
#tt-ROUTE-9-Ukiah-Local-Southbound-Saturday .tt-even {
    background-color: #C9E7FF;
}


/*  ROUTE-7-Ukiah Jitney */
#tt-7-Ukiah-Jitney-Southbound .tt-header,
#tt-7-Ukiah-Jitney-Northbound .tt-header {
    background-color: #fcb821;
}

#tt-7-Ukiah-Jitney-Southbound hr,
#tt-7-Ukiah-Jitney-Northbound hr {
    background-color: #fcb821;
    color: #388195;
    height: 1px;
}

#tt-7-Ukiah-Jitney-Southbound .tt-even,
#tt-7-Ukiah-Jitney-Northbound .tt-even {
 background-color: #FFF2D4;
}

#tt-7-Ukiah-Jitney-Southbound .tt-col-3,
#tt-7-Ukiah-Jitney-Northbound .tt-col-2,
#tt-7-Ukiah-Jitney-Northbound .tt-col-3 {
    font-weight: bold;
}

#tt-7-Ukiah-Jitney-Southbound .tt-cell,
#tt-7-Ukiah-Jitney-Northbound .tt-cell {
 width: 80px;
}   

#tt-7-Ukiah-Jitney-Southbound .tt-cell.tt-col-0 ,
#tt-7-Ukiah-Jitney-Northbound .tt-cell.tt-col-0 {
 width: 150px;
}   

/*
#tt-7-Ukiah-Jitney-Southbound .tt-cell-text,
#tt-7-Ukiah-Jitney-Northbound .tt-cell-text {
margin-top: 15px;
margin-left: 10px;
}*/


.tt-row-0 .tt-cell {
border-bottom: 1px solid #ccc;
}



/*  
BEGIN TABLES
tt-ROUTES-5-BraggAbout-and-60-Northbound 
*/
#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-header,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-header {
    background-color: #fcb821;
}

.tt-header {
height: 28px;
width: 100%;
}

#tt-header-text {
margin: 5px 15px 5px 15px;
float: left;
color: white;
}

#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- hr,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- hr {
    background-color: #fcb821;
    color: #903C3A;
    height: 1px;
}

#tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri- .tt-even,
#tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri- .tt-even {
 background-color: #FFF2D4;
}

/*  ROUTE-65-CC-Rider */
#tt-ROUTE-65-CC-Rider-Southbound .tt-header,
#tt-ROUTE-65-CC-Rider-Northbound .tt-header {
    background-color: #008b76;
}

#tt-ROUTE-65-CC-Rider-Southbound hr,
#tt-ROUTE-65-CC-Rider-Northbound hr {
    display: none;
}

#tt-ROUTE-65-CC-Rider-Southbound .tt-subheader-likely .tt-col-0,
#tt-ROUTE-65-CC-Rider-Northbound .tt-subheader-likely .tt-col-0 {
    font-weight: bold;
}

#tt-ROUTE-65-CC-Rider-Southbound .tt-subheader-likely .tt-empty,
#tt-ROUTE-65-CC-Rider-Northbound .tt-subheader-likely .tt-empty {
    color: white;
}

/*#tt-ROUTE-65-CC-Rider-Southbound .tt-row .tt-cell .tt-cell-text, 
#tt-ROUTE-65-CC-Rider-Northbound .tt-row .tt-cell .tt-cell-text {
    margin: 10px 20px;
}

#tt-ROUTE-65-CC-Rider-Southbound .tt-subheader-likely,
#tt-ROUTE-65-CC-Rider-Northbound .tt-subheader-likely {
    margin: 0px -10px;
}*/


/* 
BEGIN TABLES
 N-COAST-ROUTE-65-CC-Rider
*/
#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-header,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-header { background-color: #903C3A; }

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound hr,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound hr { display: none; }

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-subheader-likely .tt-col-0,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-subheader-likely .tt-col-0 { font-weight: bold;}

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-subheader-likely .tt-empty,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-subheader-likely .tt-empty { color: white; }

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-cell {  }
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-cell {  }

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-col-0,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-col-0 { }

#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-col-1 { font-weight: bold; }

/*#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-row .tt-cell .tt-cell-text, 
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-row .tt-cell .tt-cell-text { margin: 10px 20px;}*/

/*#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-subheader-likely .tt-cell-text.tt-rowname,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-subheader-likely .tt-cell-text.tt-rowname { margin: 5px 10px 0 10px; }*/

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-even,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-even{
background: #FFDADA;
}

#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-row,
#tt-N-COAST-ROUTE-65-CC-Rider-Northbound .tt-row {

}


#tt-N-COAST-ROUTE-65-CC-Rider-Southbound .tt-row-8 {

}


.tt-info-box {
border: 2px solid grey;
width: 70%;
padding: 15px 2% 15px 2%;
}

/* 
BEGIN TABLES
ROUTE-75  
*/
#tt-ROUTE-75-Northbound .tt-header,
#tt-ROUTE-75-Southbound .tt-header { background-color: #008078; }

#tt-ROUTE-75-Northbound hr,
#tt-ROUTE-75-Southbound hr {
    background-color: #008078;
    color: #DAA600;
    height: 1px;
}

#tt-ROUTE-75-Northbound .tt-even,
#tt-ROUTE-75-Southbound .tt-even { background-color: #BFE0DE;}


#tt-ROUTE-75-Northbound, 
#tt-ROUTE-75-Southbound  {}


#tt-ROUTE-75-Northbound .tt-row-0,
#tt-ROUTE-75-Southbound .tt-row-0 { font-weight: bold; }

#tt-ROUTE-75-Southbound .tt-col-1 { font-weight: bold; }

#tt-ROUTE-75-Northbound .tt-subheader-likely .tt-empty,
#tt-ROUTE-75-Southbound .tt-subheader-likely .tt-empty { color: white; }

#tt-ROUTE-75-Northbound .tt-cell {  }
#tt-ROUTE-75-Southbound .tt-cell { }

#tt-ROUTE-75-Northbound .tt-col-0.tt-cell,
#tt-ROUTE-75-Southbound .tt-col-0.tt-cell {  }

#tt-ROUTE-75-Northbound .tt-row .tt-cell .tt-cell-text, 
/*#tt-ROUTE-75-Southbound .tt-row .tt-cell .tt-cell-text { margin: 10px 20px; }*/

#tt-ROUTE-75-Northbound .tt-subheader-likely,
/*#tt-ROUTE-75-Southbound .tt-subheader-likely { margin: 0px -10px; }*/

#tt-ROUTE-75-Southbound #tt-cell-8x1 {

}

/* 
BEGIN TABLES
ROUTE-95
*/


#tt-ROUTE-95-Northbound .tt-col-1 { font-weight: bold;
}


#tt-ROUTE-95-Southbound #tt-cell-9x2,
#tt-ROUTE-95-Southbound #tt-cell-10x2,
#tt-ROUTE-95-Southbound #tt-cell-11x2,
#tt-ROUTE-95-Southbound #tt-cell-12x2,
#tt-ROUTE-95-Southbound #tt-cell-13x2,
#tt-ROUTE-95-Southbound #tt-cell-14x2,
#tt-ROUTE-95-Southbound #tt-cell-15x2,
#tt-ROUTE-95-Southbound #tt-cell-16x2,
#tt-ROUTE-95-Southbound #tt-cell-17x2  {
font-weight: bold;
}



#tt-ROUTE-95-Northbound .tt-header,
#tt-ROUTE-95-Southbound .tt-header { background-color: #ce7f4e; }

#tt-ROUTE-95-Northbound hr,
#tt-ROUTE-95-Southbound hr {
    background-color: #00B0F0;
    color: #00B0F0;
    height: 1px;
}

#tt-ROUTE-95-Northbound .tt-even,
#tt-ROUTE-95-Southbound .tt-even { background-color: #F5D3BD; }


#tt-ROUTE-95-Northbound #tt-row-0,
#tt-ROUTE-95-Southbound #tt-row-0 { font-weight: bold; }

#tt-ROUTE-95-Northbound .tt-col-0 { font-weight: bold; }

#tt-ROUTE-95-Northbound .tt-subheader-likely .tt-empty,
#tt-ROUTE-95-Southbound .tt-subheader-likely .tt-empty { color: white; }

#tt-ROUTE-95-Northbound .tt-cell,
/*#tt-ROUTE-95-Southbound .tt-cell {  width: 70px;  }*/

#tt-ROUTE-95-Northbound .tt-col-0,
/*#tt-ROUTE-95-Southbound .tt-col-0 { margin-left: 10px;}*/



#tt-ROUTE-95-Northbound .tt-row .tt-cell .tt-cell-text, 
/*#tt-ROUTE-95-Southbound .tt-row .tt-cell .tt-cell-text { margin: 10px 0px; }*/



#tt-ROUTE-95-Northbound .tt-subheader-likely .tt-cell-text,
/*#tt-ROUTE-95-Southbound .tt-subheader-likely .tt-cell-text{ margin: 0px 10px; }*/


/* All table ids

tt-ROUTES-1-Willits-Local-and-20-in-Willits-Southbound
tt-ROUTES-1-Willits-Local-and-20-in-Willits-Northbound

tt-ROUTE-9-Ukiah-Local-Northbound-Monday-through-Friday
tt-ROUTE-9-Ukiah-Local-Southbound-Monday-through-Friday

tt-ROUTE-9-Ukiah-Local-Northbound-Saturday
tt-ROUTE-9-Ukiah-Local-Southbound-Saturday

tt-7-Ukiah-Jitney-Southbound
tt-7-Ukiah-Jitney-Northbound

tt-ROUTES-5-BraggAbout-and-60-Northbound-Mon-through-Fri-
tt-ROUTES-5-BraggAbout-and-60-Southbound-Mon-through-Fri-

tt-ROUTE-65-CC-Rider-Southbound
tt-ROUTE-65-CC-Rider-Northbound

tt-ROUTE-75-Northbound
tt-ROUTE-75-Southbound

tt-ROUTE-95-Southbound
tt-ROUTE-95-Nouthbound



*/
