@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url("route.css");
@import url("maps-and-schedules.css");

a {
    color: #005F8F;
}
a:hover {
text-decoration: underline !important;
}

body {
margin: 0;
width: 100%;
height: 100%;
overflow-x: hidden;
/*background-image: url('images/mta-bg-gradient.jpg');*/
background-repeat: no-repeat;
background-position: top center;
background-attachment:scroll;
background-color: #406DB0;
font-family: 'Open Sans', sans-serif;
}

a,img {
border: none;
}

#announcement-banner {
    display: none;
}

p{
margin: 10px 0 10px 0;
margin-top: 0;
}

div {
margin-top: 0;
}

.ul-circle {
list-style-type:circle;
margin: 5px 0 5px 17px;
}

ul {list-style-type:disc;padding-bottom:12pt;}
#home-bottom-links ul {

list-style-type:none;padding-left:0;
}
ol {list-style-type:decimal;padding-left:0.5in;padding-bottom:12pt;}

small {font-size:80%;}

h3 {
margin: 15px 0 15px 0;
color: #004C2C;
}


.alignright {
float: right;
margin: 15px;
}


#coast-repeat-wrapper {
background: url('images/coast-repeat.png') repeat-x bottom;
min-height: 100%;
}

#coast-right-hill-wrapper {
background: url('images/bottom-scene_right-hill.jpg') no-repeat bottom right;
min-height: 100%;
}

h1 {
font-size: 30px;
}

#main-center-wrapper {
margin: 0 auto;
width: 1035px;
min-width: 1035px;
position: relative; /*For ie6/7*/
min-height: 100%;

}

#top {
width: 100%;
height: 233px;
margin: 13px 0 0 0;

}

#bg-strecher {
background: url('images/bg-strip.png');
}

#preload-60 {
background: url('images/home-map/map-glow-60.jpg');
visibility: hidden;
}
#preload-5 {
background: url('images/home-map/map-glow-5.jpg'); 
visibility: hidden;
}
#preload-1 {
background: url('images/home-map/map-glow-1.jpg') ;
visibility: hidden;  
}
#preload-7 {
background: url('images/home-map/map-glow-7.jpg') ;
visibility: hidden;
}
#preload-9 {
background: url('images/home-map/map-glow-9.jpg') ;
visibility: hidden; 
}
#preload-65 {
background: url('images/home-map/map-glow-65.jpg');
visibility: hidden;
}
#preload-20 {
background: url('images/home-map/map-glow-20.jpg');
visibility: hidden;
}
#preload-75 {
background: url('images/home-map/map-glow-75.jpg');
visibility: hidden;
}
#preload-95 {
background: url('images/home-map/map-glow-95.jpg');
visibility: hidden;
}

#ms-preload-65 {
background: url('images/schedules-map/map-glow-65.jpg'); 
visibility: hidden; }
#ms-preload-75 {
background: url('images/schedules-map/map-glow-75.jpg') ;
visibility: hidden; }
#ms-preload-5 {
background: url('images/schedules-map/map-glow-5.jpg') ;
visibility: hidden; }
#ms-preload-9 {
background: url('images/schedules-map/map-glow-9.jpg') ;
visibility: hidden; }
#ms-preload-20 {
background: url('images/schedules-map/map-glow-20.jpg') ;
visibility: hidden; }
#ms-preload-60 {
background: url('images/schedules-map/map-glow-60.jpg') ; 
visibility: hidden; }
#ms-preload-95 {
background: url('images/schedules-map/map-glow-95.jpg') ;
visibility: hidden; }
#ms-preload-1 {
background: url('images/schedules-map/map-glow-1.jpg') ;
visibility: hidden; }
#ms-preload-7 {
background: url('images/schedules-map/map-glow-7.jpg') ;
visibility: hidden; }

#logo-left {
float: left;
width: 49%; /*480/1035 = 0,463768115942029 */
height: 233px;
}

#mta-logo {
float: left;
width: 100%;
height: 233px;
background: url('images/logo-motto.png') no-repeat 0 -35px;
}



#main-container {
width: 100%; /* 1-11px/1035px*2 */
padding: 0px 0 0 0;
margin: 0;
background-position: 0 -10px;
background-repeat: no-repeat;
position: relative; /*For ie6/7*/
min-height: 80%;
}

#top-curves-template {
height: 15px;
background-image: url('images/top-curves.png');
background-position: 0 -10px;
}

#pushfooter {
                height: 226px; /* Must be the same as footer height. */
            }

#inner-main-container {
width: 98.0676328502415%; /* 1015/1035 = 0,980676328502415 */
/*background: url('images/bg-strip.png'); */
min-height: 400px;
padding: 0 10px 0 10px;
margin-bottom: -226px;
}

#footer {
position:relative;
bottom: 0;
width: 100%;
height: 226px;
}

#bottom-scene-left-fade, #bottom-scene-middle, #bottom-scene-right-fade {
height: 226px;

}

#home-left-links h2 {
font-size: 16px;
color: #006633;
font-weight: bold;
text-shadow: 0 0 13px rgba(255,255,255,1);

}
 
#home-left-links h2 {
margin: 0;
padding: 0;
display: inline;
}



#bottom-scene-left-fade {
z-index: 100;
width: 140px;
position: absolute;
left: -130px;
clear: none;
background: url('images/bottom-scene/bottom-scene-front-with-fades-left.png');
}
#bottom-scene-middle {
position: absolute;
width: 1013px;
left: 10px;
background: url('images/bottom-scene/bottom-scene-front.jpg');
}

#bottom-scene-right-fade {
z-index: 100;
position: absolute;
left: 1023px;
width: 165px;
background: url('images/bottom-scene/bottom-scene-front-with-fades-right.png') no-repeat;
}

#copyright {
float: right;
margin: 85px 20px 0 0;
font-size: 12px;
color: #7C7C7C;
text-align: right;
}

#bottom-hr {
width: 90%;
margin: 20px 0 0 50px;
border: solid 1px #CAC9C4;
}

/********** HOME ********/

#trip_planner_form_table {
float: left !important;
color: white;
font-size: 18px !important;
padding: 20px 0 0 0;
}

#trip_planner_form_table #when {
margin-bottom: 10px;
margin-top: 10px;
display: block;
}

#trip_planner_form_table  {
margin: 25px 0 0 0 !important;
}


#cell_1a label, #cell_2a label, #cell_1c label {
font-size: 19px;
font-weight: bold;
}

#cell_1a input[type=text], #cell_2a input[type=text] {
    margin-bottom: 10px;
}

#cell_1a label, #cell_2a label {
margin: 10px 0 0 0;
display: block;
}

#cell_2b {
    color: white;
font-weight: bold;
text-align: left;
padding: 30px 0 0 0 !important;
-moz-text-shadow: 0px 0px 4px #000;
	-webkit-text-shadow: 0px 0px 4px #000;
	text-shadow: 0px 0px 4px #000;
}

#cell_3a {
font-size: 14px !important;
padding: 30px  0 0 0 !important;
}

#cell_3b {
/*color: white;
font-weight: bold;
text-align: left;
padding: 50px 0 0 0 !important;
-moz-text-shadow: 0px 0px 4px #000;
	-webkit-text-shadow: 0px 0px 4px #000;
	text-shadow: 0px 0px 4px #000;*/
}

.obscure {
    display: none;
}

#home-route-planner h2 {
color: white;
font-weight: bold;
}

#home-left-col {
width: 44.4%;
float: left;
}

#home-right-col {
width: 55%;
float: left;
position: relative;
}

select#trip_type_select {
clear: left;
}

#home-route-planner-inner {
margin: 21px 0 0 23px;
float: left;
}

#home-google-transit-link {
float: left;
margin: 30px 0 0 0 ;

}

#home-route-planner {
height: 426px;
width: 424px; 
background: green;
margin: 0px 14px 0 13px;
background: url('images/planner-bg.png') no-repeat;
-moz-text-shadow: 3px 3px 4px #000;
	-webkit-text-shadow: 3px 3px 4px #000;
	text-shadow: 3px 3px 4px #000;
}

#home-route-planner a {
-moz-text-shadow: 0px 0px 4px #fff;
	-webkit-text-shadow: 0px 0px 4px #fff;
	text-shadow: 0px 0px 4px #fff;
	font-size: .7em;
}

#home-route-planner {
font-size: 20px;
}

#home-alerts {
    text-align: center;
    border: 2px solid #FFFF00;
    background-color: #FFFF00;
    padding: 0 11.424px 11.424px 11.424px;
}



#home-service-alerts, #home-news {


}

left-links-sec {
margin-bottom: 10px;

}

.left-links-sec ul li a {
font-size: 14px;
display: block;
}

.left-links-sec ul li a:hover {


}

.left-links-sec ul li {
margin-bottom: 10px;
padding: 0;
}

#home-no-alerts {
margin-top: 20px;
background: #DBDBDB;
height: 35px; 
border-radius: 3px;
width: 77%;
border: 1px solid #ccc;
padding-top: 20px;
padding-left: 17px;
}

#home-left-links {
height: 305px;
width: 381px;
background: #EBEBEB;
border: 1px solid #999999;
margin: 14px 11px 0px 14px;
padding: 20px;
}

#home-left-links h2 {
font-size: 16px;
color: #006633;
font-weight: bold;
}

 h2#sign-up-for-alerts {
 margin: 0 0 15px 0;
 float: left;
 color: #167344;
 }

#home-left-links h3 a{

font-size: 14px;
color: #167344;
}

#home-left-links ul li {

}

#sign-up {

}

#home-bottom-links {
margin:40px 0 0 40px;
text-decoration: underline; 
color: #0066FF;
z-index: 999;
}

#home-bottom-links li{
line-height: 30px;
}

#agency-links-menu li {
	font-size: 14px;
	line-height: 22px;
}

#home-bottom-links a:link, #home-bottom-links a:visited {
text-decoration: none;
}

#home-bottom-links h2 {

color: #167344;
-moz-text-shadow: 0px 0px 5px #fff;
	-webkit-text-shadow: 0px 0px 5px #fff;
	text-shadow: 0px 0px 5px #fff;
	font-size: 1.1em;
}

#home-bottom-links ul {
margin-top: 20px;
}

#home-btm-links-col1 {
width: 210px;
float: left;
}

#home-btm-links-col2 {
width: 400px;
float: left;

}

#home-btm-links-col3 {
width: 33.33333%;
float: left;
}

#home-mta-description {
margin: 50px 50px 0 70px;
color: #5E4F30;
font-size: 1em;
line-height: 1.4em;
}


#home-links-col-3-list {
font-size: 14px;
}
 
#home-links-col-3-list li {
line-height: 25px;
}

#home-links-col-1  {
float: left; 
width: 250px;
border-right: 1px #ccc solid;
margin: 0 20px 0 20px;
}
#home-links-col-2 {
float: left;
width: 394px;
border-right: 1px #ccc solid;
margin: 0 20px 0 0px;
}

#home-links-col-3  {
float: left; 
width: 200px;

}

#home-links-col-3-list {
font-size: 14px;
}

#home-links-col-3-list li {
line-height: 25px;
}

.home-links-title {
color: #006633;
font-weight: 600;
text-transform: uppercase;
-webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px white;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

.home-links-text {
float: left;
}

li .home-link-icon{
padding: 0 0 0 23px;
background: url('images/home-icons.png') no-repeat 0 5px;
width: 9px;
height: 25px;
float: left;
}
/* spacing for icons:  43, 87, 129, 170, 213, 245, 284, 331, 371 */

.home-sub-link {
clear: left;

}

li#home-link-maps-and-schedules  .home-link-icon {
background-position: 1px 4px;

}

li#home-link-fares  .home-link-icon {
background-position: -42px 4px;

}
li#home-link-how-to-ride .home-link-icon{
background-position: -86px 4px;
}
li#home-link-holidays .home-link-icon{
background-position: -126px 4px;
}
li#home-link-accesibility .home-link-icon{
background-position: -166px 4px;
}

li#home-link-dial-a-ride .home-link-icon{
background-position: -208px 5px;
}
li#home-link-farmworkers .home-link-icon{
background-position: -242px 4px;
}
li#home-link-connecting-services .home-link-icon{
background-position: -284px 4px;
}
li#home-link-app-center .home-link-icon{
background-position: -326px 4px;
}
li#home-link-developer-data .home-link-icon{
background-position: -366px 4px;
}

/****** HOME MAP *******/
  


#home-map-caption {
font-size: 13px;
left: 230px;
top: 21px;
width: 280px;
position: absolute;
padding: 0 0 0 15px;
background: url('images/triangle.png') no-repeat 0 5px;
}

#home-map {   
overflow: hidden;
height: 800px;
width: 549px;
margin: 0px 0 0 0;
background: url('images/home-map/home-map-base.jpg') no-repeat;
}



#home-map #map-under.m65 {
background: url('images/home-map/map-glow-65.jpg') no-repeat 57px 55px;
}

#home-map #map-under.m75 {
background: url('images/home-map/map-glow-75.jpg') no-repeat 76px 200px;
}
#home-map #map-under.m5 {
background: url('images/home-map/map-glow-5.jpg') no-repeat 103px 45px;
}
#home-map #map-under.m9 {
background: url('images/home-map/map-glow-9.jpg') no-repeat 411px 232px;
}
#home-map #map-under.m20 {
background: url('images/home-map/map-glow-20.jpg') no-repeat 234px 104px ;
}
#home-map #map-under.m60 {
background: url('images/home-map/map-glow-60.jpg') no-repeat 37px 65px; 
}
 #home-map #map-under.m95 {
background: url('images/home-map/map-glow-95.jpg') no-repeat 89px 340px;
}
#home-map #map-under.m1 {
background: url('images/home-map/map-glow-1.jpg') no-repeat 226px 61px;
}
#home-map #map-under.m7 {
background: url('images/home-map/map-glow-7.jpg') no-repeat 374px 231px;
}


#schedules-container #map-under.m65 {

background: url('images/schedules-map/map-glow-65.jpg') no-repeat 178px 9px;
}

#schedules-container #map-under.m75 {
background: url('images/schedules-map/map-glow-75.jpg') no-repeat 57px 131px;
}
#schedules-container #map-under.m5 {
background: url('images/schedules-map/map-glow-5.jpg') no-repeat 287px 3px; 
}
#schedules-container #map-under.m9 {
background: url('images/schedules-map/map-glow-9.jpg') no-repeat 373px 262px;
}
#schedules-container #map-under.m20 {
background: url('images/schedules-map/map-glow-20.jpg') no-repeat 329px 124px ;
}
#schedules-container #map-under.m60 {
background: url('images/schedules-map/map-glow-60.jpg') no-repeat 138px 18px; 
}
#schedules-container #map-under.m95 {
background: url('images/schedules-map/map-glow-95.jpg') no-repeat 71px 252px;
}
#schedules-container #map-under.m1 {
background: url('images/schedules-map/map-glow-1.jpg') no-repeat 386px 112px;
}
#schedules-container #map-under.m7 {
background: url('images/schedules-map/map-glow-7.jpg') no-repeat 340px 261px;
}

/***** NAVIGATION *****/

#nav {
float: left;
margin-top: 140px;
text-align: center;
margin-left: 4em;
}

#nav ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
    justify-content: space-around;
}
#nav a {
    margin-right: 12px;
    text-decoration: none;
}
#nav ul li {
    /*margin-left: 8px;*/
    padding-right: 4px; 
    padding-left: 4px;
}
#nav p {
    color: #fef1bc;
    /*margin-right: 5px;*/
    font-size: 14px;
    text-transform: uppercase;
}


#maps-and-schedules img, #fares img, #how-to-ride img, #connections img  {
    width: 2.5em;
    /*display: block;*/
}

#maps-and-schedules , #fares , #how-to-ride, #connections {
    border: 1px solid transparent;
}

#nav a:hover {
    text-decoration: none !important;
}

 #maps-and-schedules:hover, #maps-and-schedules:focus {
    border: 1px solid #fef1bc;
    background-color: rgba(204, 204, 204, 0.1); 
    border-radius:4px;
    cursor: pointer;
}

#fares:hover, #fares:focus {
    border: 1px solid #fef1bc;
    background-color: rgba(204, 204, 204, 0.1); 
    border-radius:4px;
    cursor: pointer;
}
#how-to-ride:hover, #how-to-ride:focus {
    border: 1px solid #fef1bc;
    background-color: rgba(204, 204, 204, 0.1); 
    border-radius:4px;
    cursor: pointer;
}
#connections:hover, #connections:focus {
    border: 1px solid #fef1bc;
    background-color: rgba(204, 204, 204, 0.1); 
    border-radius:4px;
    cursor: pointer;
}



/* 
Gray column-box header

#424242

column-box background


connections
#d6e0ed

unvisited links
#348fae
*/


/******** PAGE **********/

#page-overlay {
background:url('images/page-bg.jpg') 2px 0px no-repeat;
padding: 20px;
min-height: 500px;
line-height: 1.4em;
}

#page-overlay h2, #page-overlay h1 {
color: #004C2C;
}

#page-overlay h1.main {
margin: 9px 20px 20px 20px;
}

.breadcrumb {
margin: 0 0 0 20px;
}

 .div-table {

}

.div-table .timetable-header {

}

.div-table .timetable-body {

}

.row {


}

.div-table  {
 border-spacing:0;
  border-collapse:collapse;
}

.div-table td .tt-cell-text {
margin: 4px !important;
}

.div-table .tt-cell {
border-right: solid 1px #ccc;
}

.row {
border-bottom: 1px solid #cccccc;
}

.row .cell {

    float: left;
    margin: 0px 2px;
}

.row .cell .cell-text {
    font-size: 9px;
    float: left;
    margin: 0px 2px;
}

.presented {

}

.hidden {
    display: none;
}

 .cell{
width: 26px;

}

.row {
float: left;
clear: both;
}

.row.odd {
background-color:#FFF7A1;
}

.div-table {

}

.timetable-header {
clear: both;
background-color:#FFD24D;
height: 40px;
margin: 20px 0 0 0;
padding: 20px 0 0 20px;
}

.hover, .odd.hover {
background-color: #BFFFF9 !important;
}

.tt-header-text {
margin: 5px 0 5px 10px;
}


a.connecting-service {
padding: 0 20px 0 0 ;
}


#page-overlay h2 {
font-size: 21px;
}


.three-col1 {
font-weight: bold;
font-size: 13px;
}

#email-sign-up {
width: 250px;
}

#select_end_addr, #select_start_addr {
margin: 20px 0 0 0;
}

#plan_trip_text {
margin: 10px 0 0 0;
}

.popup .cell {
width: 35px;
padding-top: 4px;
}

.popup .row .cell .cell-text {
font-size: 13px;
}

.popup .div-table {
width: 1300px;
}

.popup .row {
height: 20px;
}

body.popup {
background: white;
}

/*  FARES  */

#fare_zones {
background: #ebebeb;
border: 1px solid #ccc;
padding: 15px;
border-radius: 5px;	
}

#post-116 #fare-table-title {
text-transform: uppercase;
color: #545472;
padding: 8px;
background: #E2E0DA;
border-bottom: 3px #7E7E7E solid;
border-top: 3px #7E7E7E solid;
border-left: 10px #7E7E7E solid;
border-right: 10px #7E7E7E solid;
font-size: 19px;
margin: 45px 0 25px 0;	
height: 29px;
}

#fare_table_description {
font-weight: 200 !important; 
}

.calculator-title legend {
text-transform: uppercase;
color: #545472;
padding: 0px;
background: none;
border-bottom: 0px #CCC solid;
font-size: 15px;
font-weight: bold;
margin: 0 0 15px 0;
}


#fares-table-5-60-75 {
font-size: .8em;
}

.fares-circ {
width: 26px;
height: 26px;
margin: 1px 4px 0 4px
}

#fare-title-text {
float: left;
margin: 3px 10px 0 0;
color: black;
}



#fare-title-circs {
float: left;

}

.header_row th {
    padding-right: 5px;
}


#post-116 table {
border: 1px #ccc solid;
text-align: left;
}

tr.hover {
background: #FFFEBD;
}
.hover-col {
border-right: 1px solid black;
border-left: 1px solid black;
background: #FFFEBD;
}


#fare_result tr.reduced {
border-top: 1px solid #838383;
}

#fare_result tr.regular {
border-top: 1px solid #838383;
}

td.reduced_fare
{
background: #CFE9E6;
font-style: italic;
white-space: nowrap;
}

tr.hover td.reduced_fare {
background: #78DBFF;
}

tr.hover td.reduced_fare.hover-single-cell, 
.hover-single-cell, .hover-single-cell.reduced_fare  {
background: #FFC0B3;
}

#fare-result-wrap {
background: #F9EFBA;
border: 1px solid #ccc;
border-radius: 4px;
width: 350px;
margin-top: 15px;
}

#fare-result-wrap tr.regular td {
background: #CCE8FF;
}

#fare-result-wrap tr.reduced td {
background: #E5D1F7;
}

select#end_zone {
width: 217px !important;
}

select#start_zone {
width: 224px !important;
}

#fare_result {
}

#fare_result table {
border: 0;
}

#calc-normal-price {

height: 25px;
padding: 5px;
margin-bottom: 5px;
}

#calc-reduced-price {

height: 25px;
padding: 5px;
}

.page, .post, .news {
padding: 0 3% 0 3%;
width: 94%;
}

/***** FROM AARONs FARES ****/


#meeting-table td {
padding: 8px;
text-align: left;
border: 2px #e6e3d7 solid;
}

#meeting-table th {
font-weight: bold;
}

.type-post h2,
.type-page h2{
margin-bottom: 15px;
margin-top: 15px;
font-size: 20px;
border-bottom: 2px #ccc solid;
padding-bottom: 6px;
font-weight: bold;
}

.type-post h3,
.type-page h3{
margin-bottom: 10px;
margin-top: 10px;
font-size: 18px;
font-weight: bold;
}

.type-post img,
.type-page img {
margin: 15px;
}

#post-116.type-post img.fares-circ,
#post-116.type-page img.fares-circ {
width: 26px;
height: 26px;
margin: 1px 4px 0 4px

}

/****** MOBILE LANDING PAGE *********/
#mobile-logo {

}
#mobile-content {
width: 92%;
min-width: 480px;
max-width: 960px;
background: #FFFCE9;
display: inline-block;
padding: 4%;
}




#home-news-title #home-news-title-text {
font-size: 20px;
color: #4171B9;
font-weight: bold;
float: left;
}

#home-news-arhive-link {

}

#top-right-number-and-spanish {
    position: absolute;
    top: 10px;
    right: 16px;
}

#mendo-number {
    color: #E8EDF5;
    font-size: 23px;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.39);
}

#language-link {
float: right;
clear: right;
margin-top: 16px;  
}
#language-link a:link,
#language-link a:active,
#language-link a:hover,
#language-link a {
color: #DEDABC;
font-size: 17px;
}

#timetable-mendo-number {
 position: absolute;
 top: 20px;
 right: 30px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#social-links {
    text-align: right;
}

#social-links svg {
    stroke: #fef1bc;
    fill: #fef1bc;
    width: 42px;
    height: 42px;
    margin: 12px 6px 0;
}

#social-links svg:hover {
    stroke: #FDE171;
    fill: #FDE171;
}

#social-links svg.icon-twitter {
    margin-right: 0;
}

.left-sec-internal {

border-top: solid 1px rgba(0,0,0, 0.13);
height: 100%;
padding-top: 12px;
}

.left-spacer {
float: left;
display: block;
}

/*  new changes to left alert bar on home page */

.alert-sym {
background: url("images/alert-sym.png");
width: 17px;
height: 15px;
float: left;
margin-right: 6px;
}
 
#home-service-alerts h2 {
margin-right: 6px;
}

.left-links-sec ul { 
float:left;
clear: left;
margin-top: 12px;
}
 
.left-links-sec ul li {
/*background: url("images/blue-bullet.png") left top;*/
background-repeat: no-repeat;
background-position: 0 5px;
margin-bottom: 10px;
}
 
.left-links-sec ul li a:hover,
.left-links-sec ul li a {

position: relative;
left: -10px;
padding-left: 10px;
right: -10px;
padding-right: 10px;
margin-bottom: 10px;

}



 
.left-link-title {
float:left;
font-size: 16px;
color: #063;
font-weight: bold;
text-shadow: 0 0 13px rgba(255, 255, 255, 1);
}
 
.left-home-link {
display: block;
color: #0066FF;
font-size: 14px;
clear: left;
}
 
.left-links-archive-link {
margin-top: 4px;
margin-left: 6px;
float: left;
font-size: 10px;
}
.left-links-archive-link a {
text-decoration: none;
}

#home-left-links {
	height: auto;
}

#home-left-links li {
	list-style: none;
}

#home-route-planner {
	height: 396px;
}
#home-google-transit-link {
	margin-top: 10px;
}

.home-links-text {
    float: none;
    display: inline;
}

#ftime, #fdate {
    width: 65px;
    text-align: center;
}

#timetable-header {
    background: #6e8cbe;
}

/***************************************
**          Breakpoints               **
***************************************/

#logo-text {
    font-weight: bold;
    color: white;
    margin-left: 28px;
    /*display: none;*/
}


.mobile-only {
    display: none;
}

.mobile-collapse {
    display: none;
}
.toggled .mobile-collapse {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    z-index: 9999;
}

#mobile-nav-button {
    background: transparent;
    text-transform: uppercase;
    color: #fef1bc;
    border: 2px solid;
    border-radius: 10px;
    display: none;
    font-family: 'Open Sans';
    font-size: 110%;
    padding: 8px 16px;
    margin-right: 16px;
    margin-top: 80px;
    float: right;
}

#mobile-nav-button:hover {
    color: #FDE171;
}

h1 {
    line-height: 1.1;
}

@media only screen and (max-width: 1048px) {
    /* Main wrapper full-width, switch to mid-size header 
    ** Generally add responsiveness to all elements.   */
        
    #main-center-wrapper {
        min-width: 0;
        width: 100%;
    }
    
    #top-curves-template {
        display: none;
    }
    
    #bg-strecher {
        background: #f8f6ef;
        padding-top: 20px;
        clear: both;
    }
    
    #mta-logo {
        background: url('images/logo-mobile.png') no-repeat;
        background-size: contain;
        height: 100%;
    }
    
    #logo-text {
        display: block;
        font-size: 1em;
    }
    
    #logo-left {
        width: 345px;
        height: 130px;
        margin-top: 0px;
        margin-bottom: 30px;    
    }
    
    #nav {
        float: right;
        margin-top: 74px;
    }
    
    #mendo-number,
    #social-links {
        display: inline-block;
    }
    
    #social-links {
        margin-right: 16px;
    }
    
    #mendo-number {
        position: relative;
        bottom: 10px;
        margin-right: 30px;
    }
    
    #social-links svg {
        margin-top: 6px;
    }
    
    #top-right-number-and-spanish {
        position: static;
        
    }
    
    #top-line {
        float: right;
        margin-top: 6px;
    }
    
    #language-link {
        float: left;
        clear: none;
        margin-left: 16px;
    }
    
    #top {
        clear: both;
        height: 140px;
    }
    
    #nav-maps-and-schedules,
    #nav-fares,
    #nav-how-to-ride,
    #nav-connections {
        height: 82px;
    }
    
    #inner-main-container {
        padding: 0 20px;
        width: auto;
    }
    
    #home-route-planner,
    #home-left-links {
        margin-left: 0;
        width: auto;
    }

    #cell_1a label, #cell_2a label {
        display: block;
    }

    
    #home-map {
        width: 100%;
        height: auto;
        background: none;
    }
    
    #home-route-planner {
        background-size: cover;
        margin-right: 12px;
    }
    
    #home-map-caption {
        left: auto;
        right: 10px;
        width: 205px;
    }
    
    #home-bottom-links {
        margin-left: 0;
    }
    
    #home-mta-description {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    #home-links-col-1 {
        padding: 0 10px 0 0;
        width: 30%;
        margin-left: 0;
        
    }
    #home-links-col-2 {
        padding: 0 10px 0 0;
        width: 38%;
    }
    #home-links-col-3 {
        padding: 0;
        width: 20%;    
    }
    
    #bottom-hr {
        margin-left: auto;
        margin-right: auto;
    }
    
    #bottom-scene-middle {
        width: 100%;
        left: 0;
        background-size: cover;
    }
    
    #bottom-scene-left-fade,
    #bottom-scene-right-fade {
        width: 0;
    }
    
    input,
    select {
        max-width: 100%;
    }
    
    #page-overlay {
        background: none;
        padding: 0;
    }
    
    #post-116 #fare-table-title {
        height: auto;
    }
    
    #fare-title-text {
        float: none;
        display: inline;
        position: relative;
        top: -5px;
    }
    
    #fare-title-circs {
        float: none;
        display: inline-block;
    }
    
    .regular,
    .reduced,
    .students {
        overflow-x: auto;
    }
    
    #schedules-container .header {
        width: auto;
        height: auto;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    #route-title {
        max-width: 60%;
    }
    
    ul {
        padding-left: 20px;
    }
    
    #copyright {
        margin: 46px 20px 0 0;
    }
    
    #timetable-content {
        width: auto;
        max-width: 100%;
        padding: 0 20px;
    }
    #timetable-center-title {
        width: auto;
        margin: 0;
    }
    
    #timetable-route-name-part-1 {
        margin-left: 20px;
    }
    
    .table-wrap {
        overflow-x: scroll;
    }
    
    .tt-info-box {
        width: auto !important;
    }
}

@media only screen and (min-width: 860px) and (max-width: 908px) {
    #nav {
        margin-top: -74px;
    }
}

@media only screen and (max-width: 860px ) {
    /* Switch to mobile menu here */
    #nav {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: visibility 0s linear 0.2s,height 0.2s ease-out;
        margin-top: 0;
        margin-top: 10px;
        text-align: center;
        border-top: 2px solid #f8f6ef;
        width: 100%;
        margin-bottom: -2px;
    }
    #nav.mobile-show {
        height: 92px;
        transition: height 0.25s ease-in;
        visibility: visible;
    }
    #nav ul {
        padding-left: 0;
    }
    #mobile-nav-button {
        display: block;
    }
    
    #nav > a > div {
        float: none;
        display: inline-block;
    }
    
    #nav > a {
        text-decoration: none;
        display: inline-block;
        margin-top: 5px;
    }
    
    #nav > a:hover {
        text-decoration: none;
    }
    
    #fare_result {
        clear: both;
    }
    
    #fare_zones select {
        width: 100% !important;
        margin-bottom: 10px;
    }

    
}

@media only screen and (max-width: 720px) {
    /* Switch to single column */
    .tablet-hide {
        display: none;
    }
    
    #home-left-col {
        width: 100%;
        float: none;
    }
    
    #home-right-col {
        width: auto;
        float: none;
        padding: 20px;
        border-radius: 10px;
        clear: both;
        background-color: #6e8cbe;
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 3px 3px 4px black;
        box-shadow: 1px 1px 1px black;
        cursor: pointer;
    }
    
    #home-right-col.mobile-show {
        box-shadow: none;
        text-shadow: none;
        color: black;
        text-align: left;
        font-weight: normal;
        padding: 0;
        border-radius: 0;
    }
    
    #home-right-col:hover {
        box-shadow: inset 0 0 3px black;
    }
    
    #home-route-planner {
        margin-right: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 340px;
    }
    
    #home-route-planner-inner {
        width: 80%;
        /*text-align: center;*/
        float: none;
        margin: 0 auto;
        padding: 21px 0;
    }
    
    #trip_planner_form_table {
        width: 100%;
    }
    
    #home-route-planner input,
    #home-route-planner select {
        font-size: 100%;
    }
    
    #trip_type_select, #fdate, #ftime {
        font-size: 16px !important;
        width: 90px;
    }
    
    #home-route-planner #row1, 
    #home-route-planner #row3,
    #home-route-planner #when {
/*        display: inline-block;
        line-height: 32px;
        margin-right: 20px;*/
        /*float: left;*/
        margin-right: 5%;
        /*margin-left: 5%;*/
        width: 10%;
    }
    #home-route-planner #row2,
    #home-route-planner #row4 {
        /*display: inline-block;*/
        /*float: left;*/
        width: 75%;
    }
    
    #row4 {
        /*margin-top: 18px;*/
    }
    
    #saddr, #daddr {
        width: 100% !important;
        margin-top: 0 !important;
    }
    
    #cell_2a, #cell_2b {
        display: block;
    }
    
    #cell_3b {
        text-align: right;
    }
    
    #home-google-transit-link {
        /*float: right;*/
    }
    
    #home-left-links {
        margin: 14px 0;
    }
    
    #home-map,
    #home-map-caption {
        display: none;
    }
    
    #home-right-col:after {
        content: 'Show Route Map';
    }
    #home-right-col.mobile-show:after {
        content: '';
    }
    
    #home-right-col.mobile-show #home-map,
    #home-right-col.mobile-show #home-map-caption {
        display: inherit;
    } 
    
    #schedules-container .header {
        margin: 0;
    }
    
    #schedules-container .column {
        width: 100%;
        float: none;
    }
    
    #left-column .column-box,
    #right-column .column-box {
        margin-left: 0;
        margin-right: 0;
    }
    
    #route-title {
        max-width: 72%;
        margin-bottom: 30px;
    }
    
    #route-breadcrumb {
        clear: both;
    }
    
    #route-dropdown {
        margin-bottom: 15px;
        float: none;
        margin-right: 0;
        text-align: center;
        
    }
    
    #route-col-left,
    #route-col-right {
        width: 100%;
        float: none;
        margin: 0;
    }
    
    #route-col-right {
        margin-top: 20px;
    }
    
    #route-header {
        height: auto;
    }
    
    #timetable-route-name {
        height: auto;
    }
    
    #timetable-route-name-part-1 {
        float: none;
        margin-top: 0;
        padding-bottom: 20px;
    }
    
    .timetable-left-marg {
        margin-left: 0;
    }
}

@media only screen and (min-width: 720px) {
    #home-google-transit-link {
        line-height: 1em;
    }
}

@media only screen and (max-width: 596px) {
    #home-links-col-1, 
    #home-links-col-2,
    #home-links-col-3 {
        width: 100%;
        margin-right: 0;
        padding: 0;
        border-right: 0;
    }
    
    #home-bottom-links li {
        display: inline-block;
        margin-right: 20px;
    }
    
    #home-bottom-links {
        margin-top: 10px;
    }
    
    .home-links-title {
        margin-top: 15px;
    }
    
    .page, .post, .news {
        padding: 0;
        width: auto;
    }
    
    #page-overlay h1.main,
    .breadcrumb {
        margin-left: 0;
        margin-right: 0;
    }
    
    .type-post img,
    .type-page img,
    .alignright {
        margin-left: 0;
        margin-right: 0;
    }
    
}

@media only screen and (max-width: 528px) {
    /* mobile size, switch to column menu */
    .mobile-hide {
        display: none;
    }
    .mobile-only {
        display: inherit;
    }
    #home-route-planner-inner {
        width: 92%;
    }
    #cell_2a label {
        float: left;
    }
    #nav a {
        display: block;
        color: #fdf0bc;
        border-bottom: 1px solid rgba(253,250,188,0.8);
        margin-top: 0;
    }
    
    #nav a:hover,
    #nav a:focus {
        color: #fdf0bc;
        background-color: #00519e;
        background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,0.6) 56%,rgba(30,87,153,1) 100%);
        background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,0.6) 56%,rgba(30,87,153,1) 100%);
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%, rgba(30,87,153,0.6) 56%,rgba(30,87,153,1) 100%);
        text-decoration: none !important;
    }
    
    #nav > a > div {
        background-image: none;
        width: auto;
        height: auto;
        display: block;
    }
    
    #nav-maps-and-schedules:after {
        content: 'MAPS & SCHEDULES';
    }
    
    #nav-fares:after {
        content: 'FARES';
    }
    
    #nav-how-to-ride:after {
        content: 'HOW TO RIDE';
    }
    
    #nav-connections:after {
        content: 'CONNECTIONS';
    }
    
    #language-link {
        display: none;
    }
    
    #logo-left {
        width: 240px;
        height: 90px;
        margin-bottom: 18px;
    }
    
    #logo-text  {
        font-weight: normal;
        margin-left: 18px;
    }
    
    #mobile-nav-button {
        margin-top: 60px;
    }
    
    #top {
        height: 100px;
    }
    
    #nav.mobile-show {
        height: 190px;
    }
    
     #home-route-planner {
         height: 368px;
     }
     
     li .home-link-icon {
         display: inline-block;
         float: none;
         padding-left: 18px;
         position: relative;
         top: 5px;
     }
     
     .box-chunk .box-row {
         width: auto;
     }
     
     .ms-desc {
         max-width: 76%;
     }
     
     #route-map-col-left,
     #route-map-col-right {
         width: auto;
         margin: 0;
         float: none;
     }
     
     #service-alert-box h2 {
         height: auto;
     }
    
}

@media only screen and (max-width: 425px) {
    #top-line {
        text-align: center;
        float: none;
    }
    
    #home-route-planner {
        height: 400px;
    }
    
    #mendo-number {
        position: static;
        margin-right: 0;
        display: block;
    }
    
    #social-links {
        text-align: center;
    }
    
    #logo-left {
        width: 240px;
        height: 72px;
    }
    
    #nav {
        margin-top: 6px;
    }
    
    #mobile-nav-button {
        margin-top: 40px;
    }
    
    #top {
        margin-top: 0;
        height: 78px;
    }
    #trip_type_select, #fdate, #ftime {
        font-size: 16px !important;
        width: 90px;
    }
    
    #home-route-planner #row1, 
    #home-route-planner #row3,
    #home-route-planner #when {
        float: none;
        margin: 0;
        width: auto;
        text-align: left;
        margin-top: 10px;
    }
    #home-route-planner #row2,
    #home-route-planner #row4 {
        /*display: inline-block;*/
        width: 100%
    }

  
    #row4 {
        margin-top: 0px;
    }
    
    #cell_3a {
        text-align: left;
    }
    #saddr, #daddr {
        width: 100% !important;
        margin-top: 0 !important;
    }
    
    #ftime {
        width: 70px;
    }
    
    #cell_3b {
        padding-top: 20px !important;
    }
    
    #home-left-links {
        padding: 10px;
    }
    
    .timetable-content {
        padding: 0;
    }
}

#mcd_debug {
    display: none;
}


/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: palette(mono, darkest);
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
