body.timetable {
background: white !important;
overflow: auto;
margin-top: -30px;
}

.tt-cell-hint {
width: 55px;
}

.timetable-left-marg {
margin-left: 10px;
}

/*#timetable-banner {
width: 100%;
background: url('images/timetable/timetable-blue-strip.jpg') repeat-x;
height: 271px; 
}

#timetable-logo {
width: 1035px;
height: 270px;
background: url('images/logo-motto.png') no-repeat;
}*/

/*.table-container {
	overflow-x: auto;
}*/

#timetable-route-name {
width: auto;
background-color: #E3E3E3;
height: 40px;
padding: 15px;
}



#timetable-route-name-part-1{
font-size: 25px;
margin: 11px 0 0 0px;
float: left;
line-height: unset !important;
}


#timetable-content {
width: 1035px;
margin-bottom: 20px;
}

.div-table {
margin: 0 0 20px 0;
}


/*New Timetable styling */

.stop-name-container {
	width: 200px;
}

.single-route .timetable-holder .timetable .table-container {
	overflow: scroll;
}

.timetable {
    margin: 2em 0 4em 0;
    text-align: left;
   /* overflow-x: auto;*/
	margin-bottom: 0;
}

.timetable .row {
	clear: none;
	border-bottom: none;	
	float: none;
}

.timetable p {
	margin: 0;
}

.timetable p:empty::before {
	content: none;
}

.table {
    margin: 0 0 23.2px;
	/*width: 100%;*/
}

.timetable th, .timetable td {
	padding: .6em;
	border: .3px solid #dddddd;
}

.timetable .stop-name {
    width: 230px;
    font-weight: 600;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

a.symbol {
	text-decoration: none;
	padding-left: 3px;
	padding-right: 2px;
}

.stop-code, .excluded-dates, .sr-only, .description, .service-notes, .stop-description, .timetable-bottom {
	display: none;
}


